body {
background: #22313f; 
background-repeat: no-repeat;
}

.employee-management-system {
    border: red 2px solid;
}
#welcome-message {
font-family: sans-serif;
font-size: 18px;
}

button {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 300;
    }
